body{
    font-family: Verdana;
    font-size: 20px;
    background-color: lightslategray;
    align-content: center;
    text-align: center;
}
form {
    background: rgb(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    display: inline-block;
    padding-top: 20px;
    width: fit-content;
}
input[type="submit"]{
    background-color: green;
    border: 0px;
    color: white;
    height: 20px;
    width: 70px;
    font-size: 10px;
}
input[type="reset"]{
    background-color: red;
    border: 0px;
    height: 20px;
    width: 70px;
    font-size: 10px;
    color: white;
}   
.pw{
    color: red;
}
.bd{
    color: red;
}
.msg{
    color: green;
}
